In [5]:
import pandas as pd
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

## Install new packages

You can add them into /docker/jupyter/requirements.txt or, if you are lazy, you can do it like that:

## Read the data

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/developer_survey_stackoverflow2019/survey_results_public.csv')

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Developer, desktop or enterprise applications;...",NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,I am actively looking for a job,I've never had a job,NaN,NaN,Financial performance or funding status of the...,"Something else changed (education, award, medi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C++;HTML/CSS;Python,C++;HTML/CSS;JavaScript;SQL,NaN,MySQL,Windows,Windows,Django,Django,NaN,NaN,Atom;PyCharm,Windows,I do not use containers,NaN,Useful across many domains and could change ma...,Yes,Yes,Yes,Instagram,Online,Username,2017,Daily or almost daily,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, and I don't know what those are","Yes, somewhat",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",100 to 499 employees,"Designer;Developer, back-end;Developer, front-...",3,22,1,Slightly satisfied,Slightly satisfied,Not at all confident,Not sure,Not sure,"I’m not actively looking, but I am open to new...",1-2 years ago,Interview with people in peer roles,No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,THB,Thai baht,23000.0,Monthly,8820.0,40.0,There's no schedule or spec; I work on what se...,Distracting work environment;Inadequate access...,Less than once per month / Never,Home,Average,No,NaN,"No, but I think we should",Not sure,I have little or no influence,HTML/CSS,Elixir;HTML/CSS,PostgreSQL,PostgreSQL,NaN,NaN,NaN,Other(s):,NaN,NaN,Vim;Visual Studio Code,Linux-based,I do not use containers,NaN,NaN,Yes,Yes,Yes,Reddit,In real life (in person),Username,2011,A few times per week,Find answers to specific questions;Learn how t...,6-10 times per week,They were about the same,NaN,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,100 to 499 employees,"Developer, full-stack",3,16,Less than 1 year,Very satisfied,Slightly satisfied,Very confident,No,Not sure,I am not interested in new job opportunities,Less than a year ago,"Write code by hand (e.g., on a whiteboard);Int...",No,"Languages, frameworks, and other technologies ...",I was preparing for a job search,USD,United States dollar,61000.0,Yearly,61000.0,80.0,There's no schedule or spec; I work on what se...,NaN,Less than once per month / Never,Home,A little below average,No,NaN,"No, but I think we should",Developers typically have the most influence o...,I have little or no influence,C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,Linux;Windows,Linux;Windows,NaN,NaN,.NET,.NET,Eclipse;Vim;Visual Studio;Visual Studio Code,Windows,I do not use containers,Not at all,"Useful for decentralized currency (i.e., Bitcoin)",Yes,SIGH,Yes,Reddit,In real life (in person),Username,2014,Daily or almost daily,Find answers to specific questions;Pass the ti...,1-2 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","No, not really",Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees","Academic researcher;Developer, desktop or ente...",16,14,9,Very dissatisfied,Slightly dissatisfied,Somewhat confident,Yes,No,I am not interested in new job opportunities,Less than a year ago,"Write any code;Write code by hand (e.g., on a ...",No,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,UAH,Ukrainian hryvnia,NaN,NaN,NaN,55.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Inadequ...,A few days each month,Office,A little above average,"Yes, because I see value in code review",NaN,"Yes, it's part of our process",Not sure,I have little or no influence,C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA,HTML/CSS;Java;JavaScript;SQL;WebAssembly,Couchbase;MongoDB;MySQL;Oracle;PostgreSQL;SQLite,Couchbase;Firebase;MongoDB;MySQL;Oracle;Postgr...,Android;Linux;MacOS;Slack;Windows,Android;Docker;Kubernetes;Linux;Slack,Django;Express;Flask;jQuery;React.js;Spring,Flask;jQuery;React.js;Spring,Cordova;Node.js,Apache Spark;Hadoop;Node.js;React Native,IntelliJ;Notepad++;Vim,Linux-based,"Outside of work, for personal projects",Not at all,NaN,Yes,Also Yes,Yes,Facebook,In real life (in person),Username,I don't remember,Multiple times per day,Find answers to specific questions,More than 10 times per week,Stack Overflow was much faster,NaN,Yes,A few times per month or weekly,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, definitely",Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [9]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

### **What is the average salary for a developer?**

In [10]:
# median is a better measure because mean would be biased here
# because lots of IT managers get higher salaries which pushes the mean up
df['ConvertedComp'].median()

57287.0

In [11]:
# shows all numerical values but not all numbers could make sense
df.median()

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

### **How many people are hobby programmers?**

In [12]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

### **What social media do programmers use most?**

In [13]:
df['SocialMedia'] # have a quick look

0          Twitter
1        Instagram
2           Reddit
3           Reddit
4         Facebook
           ...
88878      YouTube
88879          NaN
88880          NaN
88881          NaN
88882     WhatsApp
Name: SocialMedia, Length: 88883, dtype: object

In [14]:
df['SocialMedia'].value_counts() # grouped by and summed by social media

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [15]:
# total percentage instead of raw values sum
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

### Which Social Media is more used per country?**

In [16]:
df['Country'].value_counts() # groups by and sums up the value for each group

United States                                20949
India                                         9061
Germany                                       5866
United Kingdom                                5737
Canada                                        3395
France                                        2391
Brazil                                        1948
Poland                                        1922
Australia                                     1903
Netherlands                                   1852
Russian Federation                            1694
Spain                                         1604
Italy                                         1576
Sweden                                        1274
Switzerland                                    978
Israel                                         952
Turkey                                         949
Pakistan                                       923
Ukraine                                        868
Austria                                        839
Czech Republic                                 764
Romania                                        760
Iran                                           738
Belgium                                        727
China                                          664
Bulgaria                                       659
Mexico                                         642
South Africa                                   627
Denmark                                        617
Bangladesh                                     605
Norway                                         574
Greece                                         556
Argentina                                      553
Finland                                        546
Portugal                                       525
New Zealand                                    524
Nigeria                                        522
Hungary                                        513
Indonesia                                      507
Ireland                                        501
Serbia                                         402
Japan                                          391
Philippines                                    381
Sri Lanka                                      372
Egypt                                          323
Colombia                                       313
Singapore                                      303
Malaysia                                       299
Slovenia                                       298
Slovakia                                       260
Croatia                                        260
Kenya                                          249
Lithuania                                      248
Nepal                                          237
Viet Nam                                       231
Thailand                                       214
Chile                                          206
Belarus                                        202
Estonia                                        195
Hong Kong (S.A.R.)                             188
Taiwan                                         187
South Korea                                    160
United Arab Emirates                           158
Morocco                                        155
Latvia                                         136
Other Country (Not Listed Above)               136
Algeria                                        134
Tunisia                                        130
Peru                                           130
Lebanon                                        120
Uruguay                                        111
Bosnia and Herzegovina                         108
Saudi Arabia                                    98
Dominican Republic                              97
Venezuela, Bolivarian Republic of...            88
Albania                                         86
Armenia                                         86
Costa Rica                                      84
Ghana                                           84
Ecuador                                         82
Georgia                                         80
Uganda                                          72
Guatemala                                       67
El Salvador                                     67
Jordan                                          65
Malta                                           65
Kazakhstan                                      64
Cyprus                                          64
Luxembourg                                      61
The former Yugoslav Republic of Macedonia       54
Myanmar                                         52
Paraguay                                        52
Ethiopia                                        52
Cameroon                                        51
Iceland                                         49
Azerbaijan                                      49
Afghanistan                                     44
Republic of Moldova                             43
Sudan                                           42
Uzbekistan                                      39
Zimbabwe                                        39
Republic of Korea                               39
Iraq                                            39
Bolivia                                         36
Côte d'Ivoire                                   34
Panama                                          33
United Republic of Tanzania                     32
Nicaragua                                       30
Cambodia                                        30
Cuba                                            30
Syrian Arab Republic                            29
Jamaica                                         28
Honduras                                        27
Mauritius                                       26
Senegal                                         21
Kuwait                                          20
Kyrgyzstan                                      19
Trinidad and Tobago                             19
Yemen                                           19
Bahrain                                         18
Mongolia                                        17
Montenegro                                      17
Madagascar                                      15
Somalia                                         13
Qatar                                           13
Maldives                                        13
Rwanda                                          12
Zambia                                          12
Oman                                            11
Libyan Arab Jamahiriya                          10
Antigua and Barbuda                              9
Swaziland                                        8
Democratic Republic of the Congo                 7
Turkmenistan                                     7
Mozambique                                       7
Mauritania                                       7
Congo, Republic of the...                        7
Andorra                                          7
Tajikistan                                       7
Benin                                            5
Fiji                                             5
Angola                                           5
Namibia                                          5
Haiti                                            5
Botswana                                         5
Burkina Faso                                     4
Monaco                                           4
Togo                                             4
Burundi                                          3
Barbados                                         3
Lesotho                                          3
Lao People's Democratic Republic                 3
Democratic People's Republic of Korea            3
Guyana                                           3
Belize                                           3
Guinea                                           3
Mali                                             3
Liechtenstein                                    3
Bahamas                                          3
Cape Verde                                       3
Seychelles                                       2
San Marino                                       2
Sierra Leone                                     2
Bhutan                                           2
Liberia                                          2
Gabon                                            2
Djibouti                                         2
Malawi                                           2
Tonga                                            1
North Korea                                      1
Timor-Leste                                      1
Sao Tome and Principe                            1
Papua New Guinea                                 1
Chad                                             1
Saint Kitts and Nevis                            1
Niger                                            1
Brunei Darussalam                                1
Saint Vincent and the Grenadines                 1
Dominica                                         1
Name: Country, dtype: int64

In [17]:
country_grp = df.groupby(['Country'])

In [18]:
# 1. Method (hard way by filtering)
filt = df['Country'] == 'Netherlands'
df.loc[filt]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
61,62,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time",Associate degree,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees",Data or business analyst;Data scientist or mac...,1,11,1,Very satisfied,Slightly dissatisfied,Not at all confident,No,Yes,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",No,Remote work options;Opportunities for professi...,"Something else changed (education, award, medi...",EUR,European Euro,76800.0,Yearly,87994.0,45.0,There is a schedule and/or spec (made by me or...,Inadequate access to necessary tools;Lack of s...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",10.0,"Yes, it's not part of our process but the deve...",NaN,I have some influence,Bash/Shell/PowerShell;C++;Go;HTML/CSS;Java;Jav...,Bash/Shell/PowerShell;C;C++;C#;HTML/CSS;Java;J...,MariaDB;Microsoft SQL Server;MySQL;Oracle;Post...,MariaDB;MySQL;Oracle;PostgreSQL;SQLite,Android;Linux;MacOS;Microsoft Azure;Raspberry ...,Android;Docker;Google Cloud Platform;Heroku;iO...,Django;jQuery;React.js,ASP.NET;Django;Laravel;React.js,.NET;Node.js;React Native,.NET;Node.js;React Native,Atom;NetBeans;Notepad++;PHPStorm;PyCharm;Subli...,Windows,Testing,NaN,A passing fad,Yes,Yes,Yes,Reddit,In real life (in person),Username,2013,A few times per week,Find answers to specific questions;Contribute ...,1-2 times per week,The other resource was slightly faster,31-60 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",A lot less welcome now than last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
106,107,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed part-time,Netherlands,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,"Developer, full-stack",10,14,4,Very satisfied,Neither satisfied nor dissatisfied,Not at all confident,No,Not sure,I am actively looking for a job,3-4 years ago,NaN,No,Office environment or company culture;How wide...,I was preparing for a job search,EUR,European Euro,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Lack of support from management;Not enough peo...,Less than once per month / Never,Office,Average,"Yes, because I see value in code review",1.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,HTML/CSS;Java;Python,Assembly;Go;Rust;WebAssembly,Elasticsearch;MySQL;PostgreSQL,NaN,Docker;Linux;Slack,Docker;Linux;Slack,Django,NaN,Ansible,NaN,Eclipse;IntelliJ;Notepad++;PyCharm;Visual Studio,Windows,Development;Testing;Production;Outside of work...,Not at all,A passing fad,No,Yes,What?,WhatsApp,Neither,Username,2009,A few times per week,Find answers to specific questions,6-10 times per week,Stack Overflow was slightly faster,0-10 minutes,Not sure / can't remember,NaN,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
124,125,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,100 to 499 employees,"Designer;Developer, full-stack;Developer, mobi...",18,16,14,Slightly dissatisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Write any code;Complete a take-home project;In...,No,Opportunities for professional development;How...,I was preparing for a job search,EUR,European Euro,3400.0,Weekly,194800.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,A few days each month,Office,A little below average,"Yes, because I see value in code review",5.0,NaN,NaN,NaN,Bash/Shell/PowerShell;Dart;HTML/CSS;Java;JavaS...,Bash/Shell/PowerShell;C++;Dart;HTML/CSS;Java;J...,Cassandra;Firebase;Oracle;SQLite,Cassandra;Firebase;SQLite,Android;Google Cloud Platform,Android;AWS;Docker;Google Cloud Platform;iOS;K...,Angular/Angular.js;Spring,Angular/Angular.js;Express;Spring,Flutter;Node.js,Apache Spark;Flutter;Node.js;TensorFlow,Android Studio;IntelliJ;Vim;Visual Studio Code,MacOS,Development;Testing;Production,NaN,An irresponsible use of resources,Yes,Also Yes,Yes,WhatsApp,Online,Handle,I don't remember,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,NaN,35.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Easy
139,141,I am a student who is learning to code,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Netherlands,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Academic researcher;Developer, back-end;Develo...",6,15,NaN,NaN,NaN,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,NaN,NaN,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Firebase;Microsoft SQL Server;MySQL;PostgreSQL,Firebase;PostgreSQL,Arduino;Docker;Google Cloud Platform;Linux;Mac...,Docker;Google Cloud Platform;Linux;MacOS;Raspb...,Angular/Angular.js;Express;jQuery;React.js;Rub...,Express;Ruby on Rails,Node.js,Node.js,Atom;IntelliJ;PyCharm;Visual Studio Code,MacOS,"Development;Production;Outside of work, for pe...",Not at all,Useful across many domains and could change ma...,No,SIGH,Yes,Instagram,In real life (in person),Username,2015,Daily or almost daily,Find answers to specific questions,6-10 times per week,They were about the same,NaN,Yes,I have never participated in Q&A on Stack Over...,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are","No, not at all",Just as welcome now as I felt last year,Tech articles written by other developers,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
197,199,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Netherlands,NaN,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,NaN,NaN,Academic researcher;Data or business analyst;D...,35,NaN,NaN,Slightly satisfied,NaN,NaN,NaN,NaN,I am actively looking for a job,NaN,Complete a take-home project,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Far above average,NaN,NaN,NaN,NaN,NaN,R;SQL,R;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emacs,BSD,I do not use containers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Man,NaN,NaN,White or of European descent,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88472,24725,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Netherlands,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",100 to 499 employees,"Engineer, site reliability;System administrator",3,29,4,NaN,NaN,Somewhat confident,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;Go;Python,NaN,MariaDB;Oracle;PostgreSQL,NaN,Linux,NaN,NaN,Ansible;Puppet,NaN,Vim;Visual Studio Code,Linux-based,Development;Production,Not at all,NaN,Yes,Yes,Yes,LinkedIn,Online,Username,2014,Multiple times per day,Find answers to specific questions;Get a sense...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,Middle Eastern,Yes,Too long,Easy
88638,47792,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Netherlands,No,Associate degree,Mathematics or statistics,NaN,NaN,"Developer, mobile;Student",Less than 1 year,24,Less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oracle,Oracle,Android;Google Cloud Platform;Windows,NaN,NaN,ASP.NET,.NET;.NET Core,.NET;.NET Core,Android Studio;Visual Studio,Windows,Development;Testing,NaN,NaN,No,Yes,Yes,Facebook,In real life (in person),Login,2019,Less than once per month or monthly,Contribute to a library of information,Less than once per week,They were about the same,NaN,Not sure / can't remember,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,25.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88683,56135,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Netherlands,No,"Professional degree (JD, MD, etc.)",NaN,NaN,"Just me - I am a freelancer, sole proprietor, ...","Designer;Developer, front-end",20,37,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;PHP,JavaScript,MariaDB;MySQL;Redis,NaN,NaN,NaN,jQuery,NaN,NaN,NaN,NaN,MacOS,I do not use containers,NaN,Useful across many domains and could change ma...,No,SIGH,What?,Twitter,Neither,NaN,NaN,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was much faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,58.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,NaN,Neither easy nor difficult
88692,57472,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A social science (ex. anthropology, psychology...",Taken an online course in programming or softw...,"1,000 to 4,999 employees",Educator,5,12,Less than 1 year,NaN,NaN,Very confident,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;PHP;Python;Ruby;SQL,C++;C#;HTML/CSS;Java;PHP;Python;Ruby;SQL,PostgreSQL,PostgreSQL,NaN,Android;Linux,NaN,NaN,Pandas;Unity 3D,Pandas;Unity 3D,Android Studio;Atom;NetBeans;Visual Studio;Vis...,Linux-based,Development,Not at all,An irresponsible use of resources,No,Also Yes,Yes,WhatsApp,In real life (in person),Username,2008,Multiple times per day,Find answers to specific questions;Learn how t...,6-10 times per week,Stack Overflow was much faster,0-10 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,29.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88870,87352,NaN,Yes,Less than once per year,NaN,"Not employed, and not looking for work",Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,NaN,NaN,40,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;Java,NaN,Firebase;SQLite,NaN,Android;Windows,NaN,NaN,NaN,NaN,NaN,Android Studio;Sublime Text;Visual Studio,Windows,I do not use containers,NaN,NaN,No,NaN,NaN,YouTube,NaN,NaN,2008,Multiple times per day,Find answers to specific questions;Learn how t...,NaN,NaN,NaN,Not sure / can't remember,NaN,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,59.0,Man,No,NaN,NaN,No,NaN,NaN

In [19]:
# 2. Method (easier)
country_grp.get_group('Netherlands') # MUTLAKA OGREN!!!!

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
61,62,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,"Yes, full-time",Associate degree,"Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,"10,000 or more employees",Data or business analyst;Data scientist or mac...,1,11,1,Very satisfied,Slightly dissatisfied,Not at all confident,No,Yes,"I’m not actively looking, but I am open to new...",1-2 years ago,"Write any code;Write code by hand (e.g., on a ...",No,Remote work options;Opportunities for professi...,"Something else changed (education, award, medi...",EUR,European Euro,76800.0,Yearly,87994.0,45.0,There is a schedule and/or spec (made by me or...,Inadequate access to necessary tools;Lack of s...,Less than once per month / Never,Home,Far above average,"Yes, because I see value in code review",10.0,"Yes, it's not part of our process but the deve...",NaN,I have some influence,Bash/Shell/PowerShell;C++;Go;HTML/CSS;Java;Jav...,Bash/Shell/PowerShell;C;C++;C#;HTML/CSS;Java;J...,MariaDB;Microsoft SQL Server;MySQL;Oracle;Post...,MariaDB;MySQL;Oracle;PostgreSQL;SQLite,Android;Linux;MacOS;Microsoft Azure;Raspberry ...,Android;Docker;Google Cloud Platform;Heroku;iO...,Django;jQuery;React.js,ASP.NET;Django;Laravel;React.js,.NET;Node.js;React Native,.NET;Node.js;React Native,Atom;NetBeans;Notepad++;PHPStorm;PyCharm;Subli...,Windows,Testing,NaN,A passing fad,Yes,Yes,Yes,Reddit,In real life (in person),Username,2013,A few times per week,Find answers to specific questions;Contribute ...,1-2 times per week,The other resource was slightly faster,31-60 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...","Yes, somewhat",A lot less welcome now than last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
106,107,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed part-time,Netherlands,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,500 to 999 employees,"Developer, full-stack",10,14,4,Very satisfied,Neither satisfied nor dissatisfied,Not at all confident,No,Not sure,I am actively looking for a job,3-4 years ago,NaN,No,Office environment or company culture;How wide...,I was preparing for a job search,EUR,European Euro,NaN,NaN,NaN,NaN,There is a schedule and/or spec (made by me or...,Lack of support from management;Not enough peo...,Less than once per month / Never,Office,Average,"Yes, because I see value in code review",1.0,"No, but I think we should",Developers and management have nearly equal in...,I have a great deal of influence,HTML/CSS;Java;Python,Assembly;Go;Rust;WebAssembly,Elasticsearch;MySQL;PostgreSQL,NaN,Docker;Linux;Slack,Docker;Linux;Slack,Django,NaN,Ansible,NaN,Eclipse;IntelliJ;Notepad++;PyCharm;Visual Studio,Windows,Development;Testing;Production;Outside of work...,Not at all,A passing fad,No,Yes,What?,WhatsApp,Neither,Username,2009,A few times per week,Find answers to specific questions,6-10 times per week,Stack Overflow was slightly faster,0-10 minutes,Not sure / can't remember,NaN,"No, I knew that Stack Overflow had a job board...","No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
124,125,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Received on-the-job training in software devel...,100 to 499 employees,"Designer;Developer, full-stack;Developer, mobi...",18,16,14,Slightly dissatisfied,Neither satisfied nor dissatisfied,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,Write any code;Complete a take-home project;In...,No,Opportunities for professional development;How...,I was preparing for a job search,EUR,European Euro,3400.0,Weekly,194800.0,40.0,There is a schedule and/or spec (made by me or...,Being tasked with non-development work;Meeting...,A few days each month,Office,A little below average,"Yes, because I see value in code review",5.0,NaN,NaN,NaN,Bash/Shell/PowerShell;Dart;HTML/CSS;Java;JavaS...,Bash/Shell/PowerShell;C++;Dart;HTML/CSS;Java;J...,Cassandra;Firebase;Oracle;SQLite,Cassandra;Firebase;SQLite,Android;Google Cloud Platform,Android;AWS;Docker;Google Cloud Platform;iOS;K...,Angular/Angular.js;Spring,Angular/Angular.js;Express;Spring,Flutter;Node.js,Apache Spark;Flutter;Node.js;TensorFlow,Android Studio;IntelliJ;Vim;Visual Studio Code,MacOS,Development;Testing;Production,NaN,An irresponsible use of resources,Yes,Also Yes,Yes,WhatsApp,Online,Handle,I don't remember,Daily or almost daily,Find answers to specific questions,3-5 times per week,Stack Overflow was much faster,11-30 minutes,Yes,Less than once per month or monthly,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Just as welcome now as I felt last year,NaN,35.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Easy
139,141,I am a student who is learning to code,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Netherlands,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,NaN,"Academic researcher;Developer, back-end;Develo...",6,15,NaN,NaN,NaN,NaN,NaN,NaN,"I’m not actively looking, but I am open to new...",Less than a year ago,NaN,NaN,"Industry that I'd be working in;Languages, fra...",I was preparing for a job search,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Firebase;Microsoft SQL Server;MySQL;PostgreSQL,Firebase;PostgreSQL,Arduino;Docker;Google Cloud Platform;Linux;Mac...,Docker;Google Cloud Platform;Linux;MacOS;Raspb...,Angular/Angular.js;Express;jQuery;React.js;Rub...,Express;Ruby on Rails,Node.js,Node.js,Atom;IntelliJ;PyCharm;Visual Studio Code,MacOS,"Development;Production;Outside of work, for pe...",Not at all,Useful across many domains and could change ma...,No,SIGH,Yes,Instagram,In real life (in person),Username,2015,Daily or almost daily,Find answers to specific questions,6-10 times per week,They were about the same,NaN,Yes,I have never participated in Q&A on Stack Over...,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are","No, not at all",Just as welcome now as I felt last year,Tech articles written by other developers,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
197,199,"I am not primarily a developer, but I write co...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Netherlands,NaN,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,NaN,NaN,Academic researcher;Data or business analyst;D...,35,NaN,NaN,Slightly satisfied,NaN,NaN,NaN,NaN,I am actively looking for a job,NaN,Complete a take-home project,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Far above average,NaN,NaN,NaN,NaN,NaN,R;SQL,R;SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Emacs,BSD,I do not use containers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Man,NaN,NaN,White or of European descent,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88472,24725,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Netherlands,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",100 to 499 employees,"Engineer, site reliability;System administrator",3,29,4,NaN,NaN,Somewhat confident,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Bash/Shell/PowerShell;Go;Python,NaN,MariaDB;Oracle;PostgreSQL,NaN,Linux,NaN,NaN,Ansible;Puppet,NaN,Vim;Visual Studio Code,Linux-based,Development;Production,Not at all,NaN,Yes,Yes,Yes,LinkedIn,Online,Username,2014,Multiple times per day,Find answers to specific questions;Get a sense...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,Yes,Less than once per month or monthly,Yes,"No, and I don't know what those are","Yes, definitely",Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,Middle Eastern,Yes,Too long,Easy
88638,47792,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Netherlands,No,Associate degree,Mathematics or statistics,NaN,NaN,"Developer, mobile;Student",Less than 1 year,24,Less than 1 year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Oracle,Oracle,Android;Google Cloud Platform;Windows,NaN,NaN,ASP.NET,.NET;.NET Core,.NET;.NET Core,Android Studio;Visual Studio,Windows,Development;Testing,NaN,NaN,No,Yes,Yes,Facebook,In real life (in person),Login,2019,Less than once per month or monthly,Contribute to a library of information,Less than once per week,They were about the same,NaN,Not sure / can't remember,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,25.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88683,56135,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Netherlands,No,"Professional degree (JD, MD, etc.)",NaN,NaN,"Just me - I am a freelancer, sole proprietor, ...","Designer;Developer, front-end",20,37,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;PHP,JavaScript,MariaDB;MySQL;Redis,NaN,NaN,NaN,jQuery,NaN,NaN,NaN,NaN,MacOS,I do not use containers,NaN,Useful across many domains and could change ma...,No,SIGH,What?,Twitter,Neither,NaN,NaN,A few times per month or weekly,Find answers to specific questions,Less than once per week,Stack Overflow was much faster,11-30 minutes,Yes,I have never participated in Q&A on Stack Over...,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,58.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,NaN,Neither easy nor difficult
88692,57472,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A social science (ex. anthropology, psychology...",Taken an online course in programming or softw...,"1,000 to 4,999 employees",Educator,5,12,Less than 1 year,NaN,NaN,Very confident,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;PHP;Python;Ruby;SQL,C++;C#;HTML/CSS;Java;PHP;Python;Ruby;SQL,PostgreSQL,PostgreSQL,NaN,Android;Linux,NaN,NaN,Pandas;Unity 3D,Pandas;Unity 3D,Android Studio;Atom;NetBeans;Visual Studio;Vis...,Linux-based,Development,Not at all,An irresponsible use of resources,No,Also Yes,Yes,WhatsApp,In real life (in person),Username,2008,Multiple times per day,Find answers to specific questions;Learn how t...,6-10 times per week,Stack Overflow was much faster,0-10 minutes,Yes,I have never participated in Q&A on Stack Over...,Yes,"No, I've heard of them, but I am not part of a...","No, not really",Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,29.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88870,87352,NaN,Yes,Less than once per year,NaN,"Not employed, and not looking for work",Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",NaN,NaN,NaN,40,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C;C++;Java,NaN,Firebase;SQLite,NaN,Android;Windows,NaN,NaN,NaN,NaN,NaN,Android Studio;Sublime Text;Visual Studio,Windows,I do not use containers,NaN,NaN,No,NaN,NaN,YouTube,NaN,NaN,2008,Multiple times per day,Find answers to specific questions;Learn how t...,NaN,NaN,NaN,Not sure / can't remember,NaN,Yes,"No, I've heard of them, but I am not part of a...",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,59.0,Man,No,NaN,NaN,No,NaN,NaN

In [20]:
# Let's see Social Media breakdown per country
filt = df['Country'] == 'Netherlands'
df.loc[filt]['SocialMedia'].value_counts()

WhatsApp                    576
Reddit                      326
YouTube                     232
Twitter                     209
Facebook                    126
Instagram                   101
LinkedIn                     98
I don't use social media     85
Snapchat                      8
VK ВКонта́кте                 2
WeChat 微信                     1
Name: SocialMedia, dtype: int64

In [21]:
# Let's see Social Media breakdown per country
# The result is 2 indexes: country and SocialMedia
country_grp['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [22]:
# The index allows us to use .loc to choose a country and filter
country_grp['SocialMedia'].value_counts().loc['Netherlands']

SocialMedia
WhatsApp                    576
Reddit                      326
YouTube                     232
Twitter                     209
Facebook                    126
Instagram                   101
LinkedIn                     98
I don't use social media     85
Snapchat                      8
VK ВКонта́кте                 2
WeChat 微信                     1
Name: SocialMedia, dtype: int64

In [23]:
country_grp['SocialMedia'].value_counts(normalize=True).loc['Netherlands']

SocialMedia
WhatsApp                    0.326531
Reddit                      0.184807
YouTube                     0.131519
Twitter                     0.118481
Facebook                    0.071429
Instagram                   0.057256
LinkedIn                    0.055556
I don't use social media    0.048186
Snapchat                    0.004535
VK ВКонта́кте               0.001134
WeChat 微信                   0.000567
Name: SocialMedia, dtype: float64

### **What is the average salary per country?**

In [24]:
country_grp['ConvertedComp'].median()

Country
Afghanistan                                    6222.0
Albania                                       10818.0
Algeria                                        7878.0
Andorra                                      160931.0
Angola                                         7764.0
Antigua and Barbuda                               NaN
Argentina                                     17760.0
Armenia                                       19692.0
Australia                                     79783.0
Austria                                       51559.0
Azerbaijan                                    15858.0
Bahamas                                           NaN
Bahrain                                       15912.0
Bangladesh                                     8764.0
Barbados                                      21000.0
Belarus                                       24000.0
Belgium                                       48120.0
Belize                                            NaN
Benin                                             NaN
Bhutan                                            NaN
Bolivia                                       13020.0
Bosnia and Herzegovina                        18360.0
Botswana                                      38410.0
Brazil                                        18036.0
Brunei Darussalam                              6096.0
Bulgaria                                      28080.0
Burkina Faso                                   8388.0
Burundi                                        3606.0
Cambodia                                      10420.0
Cameroon                                       6288.0
Canada                                        68705.0
Cape Verde                                        NaN
Chad                                           6288.0
Chile                                         27528.0
China                                         28464.0
Colombia                                      15528.0
Congo, Republic of the...                     18000.0
Costa Rica                                    38400.0
Croatia                                       24108.0
Cuba                                           3666.0
Cyprus                                        38496.0
Czech Republic                                35637.0
Côte d'Ivoire                                 12576.0
Democratic People's Republic of Korea         32880.0
Democratic Republic of the Congo             110484.0
Denmark                                       82860.0
Djibouti                                      18876.0
Dominica                                          NaN
Dominican Republic                            16667.0
Ecuador                                       21800.0
Egypt                                          8844.0
El Salvador                                   18600.0
Estonia                                       37237.0
Ethiopia                                       5052.0
Fiji                                          30529.5
Finland                                       55569.0
France                                        46752.0
Gabon                                             0.0
Georgia                                       13548.0
Germany                                       63016.0
Ghana                                          7212.0
Greece                                        22457.0
Guatemala                                     20400.0
Guinea                                         1956.0
Guyana                                            NaN
Haiti                                          8910.0
Honduras                                      18022.0
Hong Kong (S.A.R.)                            53520.0
Hungary                                       26412.0
Iceland                                       70152.0
India                                         10080.0
Indonesia                                      7740.0
Iran                                          10620.0
Iraq                                          10536.0
Ireland                                       83640.0
Israel                                        90720.0
Italy                                         35518.0
Jamaica                                       13476.0
Japan                                         51326.5
Jordan                                        29689.5
Kazakhstan                                    14970.0
Kenya                                         11940.0
Kuwait                                        42570.0
Kyrgyzstan                                    13362.0
Lao People's Democratic Republic               5604.0
Latvia                                        31620.0
Lebanon                                       23334.0
Lesotho                                       17544.0
Liberia                                           NaN
Libyan Arab Jamahiriya                        58158.0
Liechtenstein                                811188.0
Lithuania                                     33000.0
Luxembourg                                    74364.0
Madagascar                                     4074.0
Malawi                                        11532.0
Malaysia                                      16890.0
Maldives                                      13938.0
Mali                                          10476.0
Malta                                         46976.0
Mauritania                                        NaN
Mauritius                                     14160.0
Mexico                                        16968.0
Monaco                                        33684.0
Mongolia                                       8562.0
Montenegro                                    22915.0
Morocco                                       15132.0
Mozambique                                     5532.0
Myanmar                                        4806.0
Namibia                                           NaN
Nepal                                          4224.0
Netherlands                                   57287.0
New Zealand                                   63452.0
Nicaragua                                     13644.0
Niger                                             NaN
Nigeria                                        5988.0
North Korea                                       NaN
Norway                                        79512.0
Oman                                          31176.0
Other Country (Not Listed Above)              34372.0
Pakistan                                       7368.0
Panama                                        29100.0
Papua New Guinea                                  NaN
Paraguay                                      19512.0
Peru                                          14436.0
Philippines                                    9750.0
Poland                                        32064.0
Portugal                                      26124.0
Qatar                                         79326.0
Republic of Korea                             44679.0
Republic of Moldova                           16500.0
Romania                                       31224.0
Russian Federation                            23832.0
Rwanda                                         6000.0
Saint Kitts and Nevis                             NaN
Saint Vincent and the Grenadines              16281.0
San Marino                                   301788.0
Sao Tome and Principe                             NaN
Saudi Arabia                                  43200.0
Senegal                                       24108.0
Serbia                                        24672.0
Seychelles                                    61308.0
Sierra Leone                                      NaN
Singapore                                     57758.5
Slovakia                                      32658.0
Slovenia                                      34368.0
Somalia                                        7800.0
South Africa                                  38354.0
South Korea                                   40950.5
Spain                                         40101.0
Sri Lanka                                      7476.0
Sudan                                          2016.0
Swaziland                                     62371.0
Sweden                                        56004.0
Switzerland                                   95440.0
Syrian Arab Republic                           2742.0
Taiwan                                        27954.0
Tajikistan                                     4902.0
Thailand                                      30672.0
The former Yugoslav Republic of Macedonia     21996.0
Timor-Leste                                  229500.0
Togo                                           4188.0
Tonga                                             NaN
Trinidad and Tobago                           27828.0
Tunisia                                        6468.0
Turkey                                        17280.0
Turkmenistan                                  27348.0
Uganda                                         5490.0
Ukraine                                       26940.0
United Arab Emirates                          49008.0
United Kingdom                                68041.0
United Republic of Tanzania                    5192.0
United States                                110000.0
Uruguay                                       33850.0
Uzbekistan                                     7176.0
Venezuela, Bolivarian Republic of...           6384.0
Viet Nam                                      11892.0
Yemen                                         11940.0
Zambia                                         5040.0
Zimbabwe                                      19200.0
Name: ConvertedComp, dtype: float64

### **What is the average salary in the Netherlands?**

In [25]:
# The above result is series which we can filter by index
country_grp['ConvertedComp'].median().loc['Netherlands']

57287.0

In [26]:
# What is the minimum and maximum salary in Germany? 
# We can pass multiple functions together with .agg()
country_grp['ConvertedComp'].agg(['min','max']) # we get a dataframe

                                                min        max
Country
Afghanistan                                     0.0  1000000.0
Albania                                      1320.0   187668.0
Algeria                                         0.0  1000000.0
Andorra                                    150000.0   171862.0
Angola                                       7764.0     7764.0
Antigua and Barbuda                             NaN        NaN
Argentina                                      12.0   497412.0
Armenia                                         0.0    73848.0
Australia                                       0.0  1000000.0
Austria                                         0.0  1000000.0
Azerbaijan                                   3750.0    35244.0
Bahamas                                         NaN        NaN
Bahrain                                      8748.0    79584.0
Bangladesh                                      0.0  1200000.0
Barbados                                    21000.0    21000.0
Belarus                                      1776.0   160000.0
Belgium                                      2521.0  1000000.0
Belize                                          NaN        NaN
Benin                                           NaN        NaN
Bhutan                                          NaN        NaN
Bolivia                                      3648.0    60000.0
Bosnia and Herzegovina                          0.0   102600.0
Botswana                                    34572.0    50000.0
Brazil                                          0.0  1000000.0
Brunei Darussalam                            6096.0     6096.0
Bulgaria                                      936.0  1000000.0
Burkina Faso                                 8388.0     8388.0
Burundi                                      2940.0     4272.0
Cambodia                                      816.0   150000.0
Cameroon                                     1104.0   247476.0
Canada                                          0.0  2000000.0
Cape Verde                                      NaN        NaN
Chad                                         6288.0     6288.0
Chile                                          46.0   513840.0
China                                          10.0   889560.0
Colombia                                        0.0   291264.0
Congo, Republic of the...                    7200.0    25356.0
Costa Rica                                      4.0   160000.0
Croatia                                      5400.0   893688.0
Cuba                                          216.0   100000.0
Cyprus                                       8244.0   398724.0
Czech Republic                                  0.0   641472.0
Côte d'Ivoire                                1188.0    20964.0
Democratic People's Republic of Korea       32880.0    32880.0
Democratic Republic of the Congo           110484.0   110484.0
Denmark                                      7412.0  1000000.0
Djibouti                                    18876.0    18876.0
Dominica                                        NaN        NaN
Dominican Republic                            435.0   284844.0
Ecuador                                         0.0   100000.0
Egypt                                           0.0   170016.0
El Salvador                                   480.0   135000.0
Estonia                                      6876.0   123744.0
Ethiopia                                        0.0   168360.0
Fiji                                        20844.0    40215.0
Finland                                      6015.0   962424.0
France                                          0.0  1000000.0
Gabon                                           0.0        0.0
Georgia                                         0.0  1000000.0
Germany                                         0.0  2000000.0
Ghana                                        1824.0   158712.0
Greece                                          0.0  1000000.0
Guatemala                                       0.0    60000.0
Guinea                                       1956.0     1956.0
Guyana                                          NaN        NaN
Haiti                                        2304.0    15516.0
Honduras                                     1000.0    84000.0
Hong Kong (S.A.R.)                              0.0  1980000.0
Hungary                                         0.0   866088.0
Iceland                                     50100.0   150312.0
India                                           0.0  2000000.0
Indonesia                                       0.0  1000000.0
Iran                                            0.0  1000000.0
Iraq                                         5400.0    72000.0
Ireland                                         0.0  1000000.0
Israel                                          0.0  1000000.0
Italy                                           0.0  1000000.0
Jamaica                                      2700.0    67400.0
Japan                                           4.0  1000000.0
Jordan                                       3384.0   829332.0
Kazakhstan                                   3300.0  1000000.0
Kenya                                         240.0   770000.0
Kuwait                                      17820.0   930612.0
Kyrgyzstan                                   1800.0    48912.0
Lao People's Democratic Republic             5604.0     5604.0
Latvia                                       3576.0   250000.0
Lebanon                                      1200.0  1000000.0
Lesotho                                     17544.0    17544.0
Liberia                                         NaN        NaN
Libyan Arab Jamahiriya                      12132.0   216612.0
Liechtenstein                              811188.0   811188.0
Lithuania                                     503.0   604956.0
Luxembourg                                  33672.0  1000000.0
Madagascar                                    168.0    13872.0
Malawi                                      11532.0    11532.0
Malaysia                                        0.0   456972.0
Maldives                                     8520.0    26328.0
Mali                                        10476.0    10476.0
Malta                                       17186.0  1000000.0
Mauritania                                      NaN        NaN
Mauritius                                    7080.0    28320.0
Mexico                                          0.0  2000000.0
Monaco                                      33000.0    34368.0
Mongolia                                     1956.0    20377.0
Montenegro                                   4128.0    68750.0
Morocco                                       132.0    61872.0
Mozambique                                    480.0    60000.0
Myanmar                                        50.0  1000000.0
Namibia                                         NaN        NaN
Nepal                                           0.0   300000.0
Netherlands                                     0.0  2000000.0
New Zealand                                     0.0  1000000.0
Nicaragua                                    3600.0   274980.0
Niger                                           NaN        NaN
Nigeria                                         0.0  1000000.0
North Korea                                     NaN        NaN
Norway                                          0.0  1000000.0
Oman                                        31176.0    31176.0
Other Country (Not Listed Above)                0.0  1000000.0
Pakistan                                      100.0   963048.0
Panama                                       2400.0   240000.0
Papua New Guinea                                NaN        NaN
Paraguay                                     4044.0   576000.0
Peru                                         1800.0  2000000.0
Philippines                                   350.0   149112.0
Poland                                          0.0   570756.0
Portugal                                       30.0  1000000.0
Qatar                                       41196.0  1000000.0
Republic of Korea                               2.0  1000000.0
Republic of Moldova                          5652.0    69216.0
Romania                                         0.0   925320.0
Russian Federation                              0.0  1800000.0
Rwanda                                       4068.0    67800.0
Saint Kitts and Nevis                           NaN        NaN
Saint Vincent and the Grenadines            16281.0    16281.0
San Marino                                  26124.0   577452.0
Sao Tome and Principe                           NaN        NaN
Saudi Arabia                                   96.0   166380.0
Senegal                                      6288.0    62880.0
Serbia                                        104.0   660000.0
Seychelles                                  61308.0    61308.0
Sierra Leone                                    NaN        NaN
Singapore                                    3996.0  2000000.0
Slovakia                                     1850.0   618708.0
Slovenia                                       46.0   907428.0
Somalia                                      5220.0   103176.0
South Africa                                    0.0  1000000.0
South Korea                                     0.0  1000000.0
Spain                                           0.0  1000000.0
Sri Lanka                                      66.0   360000.0
Sudan                                         636.0    27972.0
Swaziland                                    1800.0   843888.0
Sweden                                         60.0  1000000.0
Switzerland                                     0.0  2000000.0
Syrian Arab Republic                          816.0    12000.0
Taiwan                                          4.0   358704.0
Tajikistan                                   2172.0     7632.0
Thailand                                     5748.0   300576.0
The former Yugoslav Republic of Macedonia     447.0   533856.0
Timor-Leste                                229500.0   229500.0
Togo                                         4188.0     4188.0
Tonga                                           NaN        NaN
Trinidad and Tobago                           736.0   141360.0
Tunisia                                         0.0    96240.0
Turkey                                          0.0  1000000.0
Turkmenistan                                12000.0   100000.0
Uganda                                        492.0  1000000.0
Ukraine                                         0.0   792000.0
United Arab Emirates                          132.0   220000.0
United Kingdom                                  0.0  2000000.0
United Republic of Tanzania                    48.0   186000.0
United States                                   0.0  2000000.0
Uruguay                                      1785.0   792000.0
Uzbekistan                                      0.0    70000.0
Venezuela, Bolivarian Republic of...            0.0   137484.0
Viet Nam                                      200.0   140000.0
Yemen                                         799.0    60000.0
Zambia                                        400.0    40524.0
Zimbabwe                                      900.0   180000.0

In [27]:
country_grp['ConvertedComp'].agg(['min','max']).loc['Netherlands']

min          0.0
max    2000000.0
Name: Netherlands, dtype: float64

In [28]:
country_grp['ConvertedComp'].agg(['median','mean']).loc['Netherlands']

median     57287.000000
mean      100845.072621
Name: Netherlands, dtype: float64

### **How many programmers are using Python in each country?**

In [29]:
filt = df['Country'] == 'Netherlands'
df.loc[filt]['LanguageWorkedWith']

61       Bash/Shell/PowerShell;C++;Go;HTML/CSS;Java;Jav...
106                                   HTML/CSS;Java;Python
124      Bash/Shell/PowerShell;Dart;HTML/CSS;Java;JavaS...
139      Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...
197                                                  R;SQL
                               ...
88472                                                  NaN
88638                                                  NaN
88683                                         HTML/CSS;PHP
88692      C#;HTML/CSS;Java;JavaScript;PHP;Python;Ruby;SQL
88870                                           C;C++;Java
Name: LanguageWorkedWith, Length: 1852, dtype: object

In [30]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python')

61        True
106       True
124      False
139       True
197      False
         ...
88472      NaN
88638      NaN
88683    False
88692     True
88870    False
Name: LanguageWorkedWith, Length: 1852, dtype: object

In [31]:
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

767

In [32]:
# This gives an error
country_grp['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: ignored

In [33]:
# The above error is because the series is seriesgroupby object and needs apply method
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                                      8
Albania                                         23
Algeria                                         40
Andorra                                          0
Angola                                           2
Antigua and Barbuda                              0
Argentina                                      191
Armenia                                         28
Australia                                      790
Austria                                        338
Azerbaijan                                      17
Bahamas                                          2
Bahrain                                          4
Bangladesh                                     204
Barbados                                         1
Belarus                                         69
Belgium                                        296
Belize                                           1
Benin                                            3
Bhutan                                           1
Bolivia                                         11
Bosnia and Herzegovina                          29
Botswana                                         1
Brazil                                         767
Brunei Darussalam                                0
Bulgaria                                       181
Burkina Faso                                     0
Burundi                                          1
Cambodia                                         9
Cameroon                                        16
Canada                                        1558
Cape Verde                                       0
Chad                                             0
Chile                                          102
China                                          297
Colombia                                       108
Congo, Republic of the...                        4
Costa Rica                                      30
Croatia                                         87
Cuba                                            16
Cyprus                                          20
Czech Republic                                 285
Côte d'Ivoire                                   11
Democratic People's Republic of Korea            1
Democratic Republic of the Congo                 3
Denmark                                        246
Djibouti                                         0
Dominica                                         1
Dominican Republic                              21
Ecuador                                         39
Egypt                                          111
El Salvador                                     19
Estonia                                         82
Ethiopia                                        20
Fiji                                             1
Finland                                        266
France                                        1054
Gabon                                            0
Georgia                                         26
Germany                                       2451
Ghana                                           32
Greece                                         226
Guatemala                                       25
Guinea                                           2
Guyana                                           2
Haiti                                            3
Honduras                                        12
Hong Kong (S.A.R.)                              88
Hungary                                        191
Iceland                                         30
India                                         3105
Indonesia                                      148
Iran                                           268
Iraq                                            17
Ireland                                        209
Israel                                         457
Italy                                          625
Jamaica                                          8
Japan                                          182
Jordan                                          22
Kazakhstan                                      15
Kenya                                          120
Kuwait                                           6
Kyrgyzstan                                       6
Lao People's Democratic Republic                 0
Latvia                                          39
Lebanon                                         42
Lesotho                                          1
Liberia                                          0
Libyan Arab Jamahiriya                           2
Liechtenstein                                    1
Lithuania                                       79
Luxembourg                                      25
Madagascar                                       4
Malawi                                           0
Malaysia                                        95
Maldives                                         6
Mali                                             1
Malta                                           20
Mauritania                                       5
Mauritius                                        8
Mexico                                         245
Monaco                                           2
Mongolia                                         8
Montenegro                                       8
Morocco                                         50
Mozambique                                       1
Myanmar                                          9
Namibia                                          3
Nepal                                          101
Netherlands                                    767
New Zealand                                    236
Nicaragua                                       10
Niger                                            1
Nigeria                                        152
North Korea                                      0
Norway                                         232
Oman                                             6
Other Country (Not Listed Above)                37
Pakistan                                       251
Panama                                          13
Papua New Guinea                                 0
Paraguay                                        19
Peru                                            47
Philippines                                    117
Poland                                         751
Portugal                                       182
Qatar                                            5
Republic of Korea                               20
Republic of Moldova                              7
Romania                                        253
Russian Federation                             708
Rwanda                                           5
Saint Kitts and Nevis                            0
Saint Vincent and the Grenadines                 0
San Marino                                       1
Sao Tome and Principe                            1
Saudi Arabia                                    33
Senegal                                          8
Serbia                                         117
Seychelles                                       1
Sierra Leone                                     1
Singapore                                      139
Slovakia                                       101
Slovenia                                       119
Somalia                                          3
South Africa                                   202
South Korea                                     80
Spain                                          641
Sri Lanka                                      137
Sudan                                           16
Swaziland                                        2
Sweden                                         496
Switzerland                                    460
Syrian Arab Republic                             7
Taiwan                                          88
Tajikistan                                       0
Thailand                                        92
The former Yugoslav Republic of Macedonia        8
Timor-Leste                                      1
Togo                                             1
Tonga                                            0
Trinidad and Tobago                              5
Tunisia                                         40
Turkey                                         371
Turkmenistan                                     6
Uganda                                          47
Ukraine                                        246
United Arab Emirates                            49
United Kingdom                                2384
United Republic of Tanzania                     15
United States                                10083
Uruguay                                         36
Uzbekistan                                      14
Venezuela, Bolivarian Republic of...            28
Viet Nam                                        78
Yemen                                            3
Zambia                                           4
Zimbabwe                                        14
Name: LanguageWorkedWith, dtype: int64

### **What is the percentage of programmers who know Python per country?**

In [34]:
# 1.Method 
country_respondents = df['Country'].value_counts()
country_respondents

United States                                20949
India                                         9061
Germany                                       5866
United Kingdom                                5737
Canada                                        3395
France                                        2391
Brazil                                        1948
Poland                                        1922
Australia                                     1903
Netherlands                                   1852
Russian Federation                            1694
Spain                                         1604
Italy                                         1576
Sweden                                        1274
Switzerland                                    978
Israel                                         952
Turkey                                         949
Pakistan                                       923
Ukraine                                        868
Austria                                        839
Czech Republic                                 764
Romania                                        760
Iran                                           738
Belgium                                        727
China                                          664
Bulgaria                                       659
Mexico                                         642
South Africa                                   627
Denmark                                        617
Bangladesh                                     605
Norway                                         574
Greece                                         556
Argentina                                      553
Finland                                        546
Portugal                                       525
New Zealand                                    524
Nigeria                                        522
Hungary                                        513
Indonesia                                      507
Ireland                                        501
Serbia                                         402
Japan                                          391
Philippines                                    381
Sri Lanka                                      372
Egypt                                          323
Colombia                                       313
Singapore                                      303
Malaysia                                       299
Slovenia                                       298
Slovakia                                       260
Croatia                                        260
Kenya                                          249
Lithuania                                      248
Nepal                                          237
Viet Nam                                       231
Thailand                                       214
Chile                                          206
Belarus                                        202
Estonia                                        195
Hong Kong (S.A.R.)                             188
Taiwan                                         187
South Korea                                    160
United Arab Emirates                           158
Morocco                                        155
Latvia                                         136
Other Country (Not Listed Above)               136
Algeria                                        134
Tunisia                                        130
Peru                                           130
Lebanon                                        120
Uruguay                                        111
Bosnia and Herzegovina                         108
Saudi Arabia                                    98
Dominican Republic                              97
Venezuela, Bolivarian Republic of...            88
Albania                                         86
Armenia                                         86
Costa Rica                                      84
Ghana                                           84
Ecuador                                         82
Georgia                                         80
Uganda                                          72
Guatemala                                       67
El Salvador                                     67
Jordan                                          65
Malta                                           65
Kazakhstan                                      64
Cyprus                                          64
Luxembourg                                      61
The former Yugoslav Republic of Macedonia       54
Myanmar                                         52
Paraguay                                        52
Ethiopia                                        52
Cameroon                                        51
Iceland                                         49
Azerbaijan                                      49
Afghanistan                                     44
Republic of Moldova                             43
Sudan                                           42
Uzbekistan                                      39
Zimbabwe                                        39
Republic of Korea                               39
Iraq                                            39
Bolivia                                         36
Côte d'Ivoire                                   34
Panama                                          33
United Republic of Tanzania                     32
Nicaragua                                       30
Cambodia                                        30
Cuba                                            30
Syrian Arab Republic                            29
Jamaica                                         28
Honduras                                        27
Mauritius                                       26
Senegal                                         21
Kuwait                                          20
Kyrgyzstan                                      19
Trinidad and Tobago                             19
Yemen                                           19
Bahrain                                         18
Mongolia                                        17
Montenegro                                      17
Madagascar                                      15
Somalia                                         13
Qatar                                           13
Maldives                                        13
Rwanda                                          12
Zambia                                          12
Oman                                            11
Libyan Arab Jamahiriya                          10
Antigua and Barbuda                              9
Swaziland                                        8
Democratic Republic of the Congo                 7
Turkmenistan                                     7
Mozambique                                       7
Mauritania                                       7
Congo, Republic of the...                        7
Andorra                                          7
Tajikistan                                       7
Benin                                            5
Fiji                                             5
Angola                                           5
Namibia                                          5
Haiti                                            5
Botswana                                         5
Burkina Faso                                     4
Monaco                                           4
Togo                                             4
Burundi                                          3
Barbados                                         3
Lesotho                                          3
Lao People's Democratic Republic                 3
Democratic People's Republic of Korea            3
Guyana                                           3
Belize                                           3
Guinea                                           3
Mali                                             3
Liechtenstein                                    3
Bahamas                                          3
Cape Verde                                       3
Seychelles                                       2
San Marino                                       2
Sierra Leone                                     2
Bhutan                                           2
Liberia                                          2
Gabon                                            2
Djibouti                                         2
Malawi                                           2
Tonga                                            1
North Korea                                      1
Timor-Leste                                      1
Sao Tome and Principe                            1
Papua New Guinea                                 1
Chad                                             1
Saint Kitts and Nevis                            1
Niger                                            1
Brunei Darussalam                                1
Saint Vincent and the Grenadines                 1
Dominica                                         1
Name: Country, dtype: int64

In [35]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                                      8
Albania                                         23
Algeria                                         40
Andorra                                          0
Angola                                           2
Antigua and Barbuda                              0
Argentina                                      191
Armenia                                         28
Australia                                      790
Austria                                        338
Azerbaijan                                      17
Bahamas                                          2
Bahrain                                          4
Bangladesh                                     204
Barbados                                         1
Belarus                                         69
Belgium                                        296
Belize                                           1
Benin                                            3
Bhutan                                           1
Bolivia                                         11
Bosnia and Herzegovina                          29
Botswana                                         1
Brazil                                         767
Brunei Darussalam                                0
Bulgaria                                       181
Burkina Faso                                     0
Burundi                                          1
Cambodia                                         9
Cameroon                                        16
Canada                                        1558
Cape Verde                                       0
Chad                                             0
Chile                                          102
China                                          297
Colombia                                       108
Congo, Republic of the...                        4
Costa Rica                                      30
Croatia                                         87
Cuba                                            16
Cyprus                                          20
Czech Republic                                 285
Côte d'Ivoire                                   11
Democratic People's Republic of Korea            1
Democratic Republic of the Congo                 3
Denmark                                        246
Djibouti                                         0
Dominica                                         1
Dominican Republic                              21
Ecuador                                         39
Egypt                                          111
El Salvador                                     19
Estonia                                         82
Ethiopia                                        20
Fiji                                             1
Finland                                        266
France                                        1054
Gabon                                            0
Georgia                                         26
Germany                                       2451
Ghana                                           32
Greece                                         226
Guatemala                                       25
Guinea                                           2
Guyana                                           2
Haiti                                            3
Honduras                                        12
Hong Kong (S.A.R.)                              88
Hungary                                        191
Iceland                                         30
India                                         3105
Indonesia                                      148
Iran                                           268
Iraq                                            17
Ireland                                        209
Israel                                         457
Italy                                          625
Jamaica                                          8
Japan                                          182
Jordan                                          22
Kazakhstan                                      15
Kenya                                          120
Kuwait                                           6
Kyrgyzstan                                       6
Lao People's Democratic Republic                 0
Latvia                                          39
Lebanon                                         42
Lesotho                                          1
Liberia                                          0
Libyan Arab Jamahiriya                           2
Liechtenstein                                    1
Lithuania                                       79
Luxembourg                                      25
Madagascar                                       4
Malawi                                           0
Malaysia                                        95
Maldives                                         6
Mali                                             1
Malta                                           20
Mauritania                                       5
Mauritius                                        8
Mexico                                         245
Monaco                                           2
Mongolia                                         8
Montenegro                                       8
Morocco                                         50
Mozambique                                       1
Myanmar                                          9
Namibia                                          3
Nepal                                          101
Netherlands                                    767
New Zealand                                    236
Nicaragua                                       10
Niger                                            1
Nigeria                                        152
North Korea                                      0
Norway                                         232
Oman                                             6
Other Country (Not Listed Above)                37
Pakistan                                       251
Panama                                          13
Papua New Guinea                                 0
Paraguay                                        19
Peru                                            47
Philippines                                    117
Poland                                         751
Portugal                                       182
Qatar                                            5
Republic of Korea                               20
Republic of Moldova                              7
Romania                                        253
Russian Federation                             708
Rwanda                                           5
Saint Kitts and Nevis                            0
Saint Vincent and the Grenadines                 0
San Marino                                       1
Sao Tome and Principe                            1
Saudi Arabia                                    33
Senegal                                          8
Serbia                                         117
Seychelles                                       1
Sierra Leone                                     1
Singapore                                      139
Slovakia                                       101
Slovenia                                       119
Somalia                                          3
South Africa                                   202
South Korea                                     80
Spain                                          641
Sri Lanka                                      137
Sudan                                           16
Swaziland                                        2
Sweden                                         496
Switzerland                                    460
Syrian Arab Republic                             7
Taiwan                                          88
Tajikistan                                       0
Thailand                                        92
The former Yugoslav Republic of Macedonia        8
Timor-Leste                                      1
Togo                                             1
Tonga                                            0
Trinidad and Tobago                              5
Tunisia                                         40
Turkey                                         371
Turkmenistan                                     6
Uganda                                          47
Ukraine                                        246
United Arab Emirates                            49
United Kingdom                                2384
United Republic of Tanzania                     15
United States                                10083
Uruguay                                         36
Uzbekistan                                      14
Venezuela, Bolivarian Republic of...            28
Viet Nam                                        78
Yemen                                            3
Zambia                                           4
Zimbabwe                                        14
Name: LanguageWorkedWith, dtype: int64

In [36]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

                                           Country  LanguageWorkedWith
United States                                20949               10083
India                                         9061                3105
Germany                                       5866                2451
United Kingdom                                5737                2384
Canada                                        3395                1558
France                                        2391                1054
Brazil                                        1948                 767
Poland                                        1922                 751
Australia                                     1903                 790
Netherlands                                   1852                 767
Russian Federation                            1694                 708
Spain                                         1604                 641
Italy                                         1576                 625
Sweden                                        1274                 496
Switzerland                                    978                 460
Israel                                         952                 457
Turkey                                         949                 371
Pakistan                                       923                 251
Ukraine                                        868                 246
Austria                                        839                 338
Czech Republic                                 764                 285
Romania                                        760                 253
Iran                                           738                 268
Belgium                                        727                 296
China                                          664                 297
Bulgaria                                       659                 181
Mexico                                         642                 245
South Africa                                   627                 202
Denmark                                        617                 246
Bangladesh                                     605                 204
Norway                                         574                 232
Greece                                         556                 226
Argentina                                      553                 191
Finland                                        546                 266
Portugal                                       525                 182
New Zealand                                    524                 236
Nigeria                                        522                 152
Hungary                                        513                 191
Indonesia                                      507                 148
Ireland                                        501                 209
Serbia                                         402                 117
Japan                                          391                 182
Philippines                                    381                 117
Sri Lanka                                      372                 137
Egypt                                          323                 111
Colombia                                       313                 108
Singapore                                      303                 139
Malaysia                                       299                  95
Slovenia                                       298                 119
Slovakia                                       260                 101
Croatia                                        260                  87
Kenya                                          249                 120
Lithuania                                      248                  79
Nepal                                          237                 101
Viet Nam                                       231                  78
Thailand                                       214                  92
Chile                                          206                 102
Belarus                                        202                  69
Estonia                                        195                  82
Hong Kong (S.A.R.)                             188                  88
Taiwan                                         187                  88
South Korea                                    160                  80
United Arab Emirates                           158                  49
Morocco                                        155                  50
Latvia                                         136                  39
Other Country (Not Listed Above)               136                  37
Algeria                                        134                  40
Tunisia                                        130                  40
Peru                                           130                  47
Lebanon                                        120                  42
Uruguay                                        111                  36
Bosnia and Herzegovina                         108                  29
Saudi Arabia                                    98                  33
Dominican Republic                              97                  21
Venezuela, Bolivarian Republic of...            88                  28
Albania                                         86                  23
Armenia                                         86                  28
Costa Rica                                      84                  30
Ghana                                           84                  32
Ecuador                                         82                  39
Georgia                                         80                  26
Uganda                                          72                  47
Guatemala                                       67                  25
El Salvador                                     67                  19
Jordan                                          65                  22
Malta                                           65                  20
Kazakhstan                                      64                  15
Cyprus                                          64                  20
Luxembourg                                      61                  25
The former Yugoslav Republic of Macedonia       54                   8
Myanmar                                         52                   9
Paraguay                                        52                  19
Ethiopia                                        52                  20
Cameroon                                        51                  16
Iceland                                         49                  30
Azerbaijan                                      49                  17
Afghanistan                                     44                   8
Republic of Moldova                             43                   7
Sudan                                           42                  16
Uzbekistan                                      39                  14
Zimbabwe                                        39                  14
Republic of Korea                               39                  20
Iraq                                            39                  17
Bolivia                                         36                  11
Côte d'Ivoire                                   34                  11
Panama                                          33                  13
United Republic of Tanzania                     32                  15
Nicaragua                                       30                  10
Cambodia                                        30                   9
Cuba                                            30                  16
Syrian Arab Republic                            29                   7
Jamaica                                         28                   8
Honduras                                        27                  12
Mauritius                                       26                   8
Senegal                                         21                   8
Kuwait                                          20                   6
Kyrgyzstan                                      19                   6
Trinidad and Tobago                             19                   5
Yemen                                           19                   3
Bahrain                                         18                   4
Mongolia                                        17                   8
Montenegro                                      17                   8
Madagascar                                      15                   4
Somalia                                         13                   3
Qatar                                           13                   5
Maldives                                        13                   6
Rwanda                                          12                   5
Zambia                                          12                   4
Oman                                            11                   6
Libyan Arab Jamahiriya                          10                   2
Antigua and Barbuda                              9                   0
Swaziland                                        8                   2
Democratic Republic of the Congo                 7                   3
Turkmenistan                                     7                   6
Mozambique                                       7                   1
Mauritania                                       7                   5
Congo, Republic of the...                        7                   4
Andorra                                          7                   0
Tajikistan                                       7                   0
Benin                                            5                   3
Fiji                                             5                   1
Angola                                           5                   2
Namibia                                          5                   3
Haiti                                            5                   3
Botswana                                         5                   1
Burkina Faso                                     4                   0
Monaco                                           4                   2
Togo                                             4                   1
Burundi                                          3                   1
Barbados                                         3                   1
Lesotho                                          3                   1
Lao People's Democratic Republic                 3                   0
Democratic People's Republic of Korea            3                   1
Guyana                                           3                   2
Belize                                           3                   1
Guinea                                           3                   2
Mali                                             3                   1
Liechtenstein                                    3                   1
Bahamas                                          3                   2
Cape Verde                                       3                   0
Seychelles                                       2                   1
San Marino                                       2                   1
Sierra Leone                                     2                   1
Bhutan                                           2                   1
Liberia                                          2                   0
Gabon                                            2                   0
Djibouti                                         2                   0
Malawi                                           2                   0
Tonga                                            1                   0
North Korea                                      1                   0
Timor-Leste                                      1                   1
Sao Tome and Principe                            1                   1
Papua New Guinea                                 1                   0
Chad                                             1                   0
Saint Kitts and Nevis                            1                   0
Niger                                            1                   1
Brunei Darussalam                                1                   0
Saint Vincent and the Grenadines                 1                   0
Dominica                                         1                   1

In [37]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

In [38]:
python_df

                                           NumRespondents  NumKnowsPython
United States                                       20949           10083
India                                                9061            3105
Germany                                              5866            2451
United Kingdom                                       5737            2384
Canada                                               3395            1558
France                                               2391            1054
Brazil                                               1948             767
Poland                                               1922             751
Australia                                            1903             790
Netherlands                                          1852             767
Russian Federation                                   1694             708
Spain                                                1604             641
Italy                                                1576             625
Sweden                                               1274             496
Switzerland                                           978             460
Israel                                                952             457
Turkey                                                949             371
Pakistan                                              923             251
Ukraine                                               868             246
Austria                                               839             338
Czech Republic                                        764             285
Romania                                               760             253
Iran                                                  738             268
Belgium                                               727             296
China                                                 664             297
Bulgaria                                              659             181
Mexico                                                642             245
South Africa                                          627             202
Denmark                                               617             246
Bangladesh                                            605             204
Norway                                                574             232
Greece                                                556             226
Argentina                                             553             191
Finland                                               546             266
Portugal                                              525             182
New Zealand                                           524             236
Nigeria                                               522             152
Hungary                                               513             191
Indonesia                                             507             148
Ireland                                               501             209
Serbia                                                402             117
Japan                                                 391             182
Philippines                                           381             117
Sri Lanka                                             372             137
Egypt                                                 323             111
Colombia                                              313             108
Singapore                                             303             139
Malaysia                                              299              95
Slovenia                                              298             119
Slovakia                                              260             101
Croatia                                               260              87
Kenya                                                 249             120
Lithuania                                             248              79
Nepal                                                 237             101
Viet Nam                                              231              78
Thailand                                              214              92
Chile                                                 206             102
Belarus                                               202              69
Estonia                                               195              82
Hong Kong (S.A.R.)                                    188              88
Taiwan                                                187              88
South Korea                                           160              80
United Arab Emirates                                  158              49
Morocco                                               155              50
Latvia                                                136              39
Other Country (Not Listed Above)                      136              37
Algeria                                               134              40
Tunisia                                               130              40
Peru                                                  130              47
Lebanon                                               120              42
Uruguay                                               111              36
Bosnia and Herzegovina                                108              29
Saudi Arabia                                           98              33
Dominican Republic                                     97              21
Venezuela, Bolivarian Republic of...                   88              28
Albania                                                86              23
Armenia                                                86              28
Costa Rica                                             84              30
Ghana                                                  84              32
Ecuador                                                82              39
Georgia                                                80              26
Uganda                                                 72              47
Guatemala                                              67              25
El Salvador                                            67              19
Jordan                                                 65              22
Malta                                                  65              20
Kazakhstan                                             64              15
Cyprus                                                 64              20
Luxembourg                                             61              25
The former Yugoslav Republic of Macedonia              54               8
Myanmar                                                52               9
Paraguay                                               52              19
Ethiopia                                               52              20
Cameroon                                               51              16
Iceland                                                49              30
Azerbaijan                                             49              17
Afghanistan                                            44               8
Republic of Moldova                                    43               7
Sudan                                                  42              16
Uzbekistan                                             39              14
Zimbabwe                                               39              14
Republic of Korea                                      39              20
Iraq                                                   39              17
Bolivia                                                36              11
Côte d'Ivoire                                          34              11
Panama                                                 33              13
United Republic of Tanzania                            32              15
Nicaragua                                              30              10
Cambodia                                               30               9
Cuba                                                   30              16
Syrian Arab Republic                                   29               7
Jamaica                                                28               8
Honduras                                               27              12
Mauritius                                              26               8
Senegal                                                21               8
Kuwait                                                 20               6
Kyrgyzstan                                             19               6
Trinidad and Tobago                                    19               5
Yemen                                                  19               3
Bahrain                                                18               4
Mongolia                                               17               8
Montenegro                                             17               8
Madagascar                                             15               4
Somalia                                                13               3
Qatar                                                  13               5
Maldives                                               13               6
Rwanda                                                 12               5
Zambia                                                 12               4
Oman                                                   11               6
Libyan Arab Jamahiriya                                 10               2
Antigua and Barbuda                                     9               0
Swaziland                                               8               2
Democratic Republic of the Congo                        7               3
Turkmenistan                                            7               6
Mozambique                                              7               1
Mauritania                                              7               5
Congo, Republic of the...                               7               4
Andorra                                                 7               0
Tajikistan                                              7               0
Benin                                                   5               3
Fiji                                                    5               1
Angola                                                  5               2
Namibia                                                 5               3
Haiti                                                   5               3
Botswana                                                5               1
Burkina Faso                                            4               0
Monaco                                                  4               2
Togo                                                    4               1
Burundi                                                 3               1
Barbados                                                3               1
Lesotho                                                 3               1
Lao People's Democratic Republic                        3               0
Democratic People's Republic of Korea                   3               1
Guyana                                                  3               2
Belize                                                  3               1
Guinea                                                  3               2
Mali                                                    3               1
Liechtenstein                                           3               1
Bahamas                                                 3               2
Cape Verde                                              3               0
Seychelles                                              2               1
San Marino                                              2               1
Sierra Leone                                            2               1
Bhutan                                                  2               1
Liberia                                                 2               0
Gabon                                                   2               0
Djibouti                                                2               0
Malawi                                                  2               0
Tonga                                                   1               0
North Korea                                             1               0
Timor-Leste                                             1               1
Sao Tome and Principe                                   1               1
Papua New Guinea                                        1               0
Chad                                                    1               0
Saint Kitts and Nevis                                   1               0
Niger                                                   1               1
Brunei Darussalam                                       1               0
Saint Vincent and the Grenadines                        1               0
Dominica                                                1               1

In [39]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython
United States,20949,10083,48.131176
India,9061,3105,34.267741
Germany,5866,2451,41.783157
United Kingdom,5737,2384,41.554820
Canada,3395,1558,45.891016
France,2391,1054,44.081974
Brazil,1948,767,39.373717
Poland,1922,751,39.073881
Australia,1903,790,41.513400
Netherlands,1852,767,41.414687
Russian Federation,1694,708,41.794569
Spain,1604,641,39.962594
Italy,1576,625,39.657360
Sweden,1274,496,38.932496
Switzerland,978,460,47.034765
Israel,952,457,48.004202
Turkey,949,371,39.093783
Pakistan,923,251,27.193933
Ukraine,868,246,28.341014
Austria,839,338,40.286055
Czech Republic,764,285,37.303665
Romania,760,253,33.289474
Iran,738,268,36.314363
Belgium,727,296,40.715268
China,664,297,44.728916
Bulgaria,659,181,27.465857
Mexico,642,245,38.161994
South Africa,627,202,32.216906
Denmark,617,246,39.870340
Bangladesh,605,204,33.719008
Norway,574,232,40.418118
Greece,556,226,40.647482
Argentina,553,191,34.538879
Finland,546,266,48.717949
Portugal,525,182,34.666667
New Zealand,524,236,45.038168
Nigeria,522,152,29.118774
Hungary,513,191,37.231969
Indonesia,507,148,29.191321
Ireland,501,209,41.716567
Serbia,402,117,29.104478
Japan,391,182,46.547315
Philippines,381,117,30.708661
Sri Lanka,372,137,36.827957
Egypt,323,111,34.365325
Colombia,313,108,34.504792
Singapore,303,139,45.874587
Malaysia,299,95,31.772575
Slovenia,298,119,39.932886
Slovakia,260,101,38.846154
Croatia,260,87,33.461538
Kenya,249,120,48.192771
Lithuania,248,79,31.854839
Nepal,237,101,42.616034
Viet Nam,231,78,33.766234
Thailand,214,92,42.990654
Chile,206,102,49.514563
Belarus,202,69,34.158416
Estonia,195,82,42.051282
Hong Kong (S.A.R.),188,88,46.808511
Taiwan,187,88,47.058824
South Korea,160,80,50.000000
United Arab Emirates,158,49,31.012658
Morocco,155,50,32.258065
Latvia,136,39,28.676471
Other Country (Not Listed Above),136,37,27.205882
Algeria,134,40,29.850746
Tunisia,130,40,30.769231
Peru,130,47,36.153846
Lebanon,120,42,35.000000
Uruguay,111,36,32.432432
Bosnia and Herzegovina,108,29,26.851852
Saudi Arabia,98,33,33.673469
Dominican Republic,97,21,21.649485
"Venezuela, Bolivarian Republic of...",88,28,31.818182
Albania,86,23,26.744186
Armenia,86,28,32.558140
Costa Rica,84,30,35.714286
Ghana,84,32,38.095238
Ecuador,82,39,47.560976
Georgia,80,26,32.500000
Uganda,72,47,65.277778
Guatemala,67,25,37.313433
El Salvador,67,19,28.358209
Jordan,65,22,33.846154
Malta,65,20,30.769231
Kazakhstan,64,15,23.437500
Cyprus,64,20,31.250000
Luxembourg,61,25,40.983607
The former Yugoslav Republic of Macedonia,54,8,14.814815
Myanmar,52,9,17.307692
Paraguay,52,19,36.538462
Ethiopia,52,20,38.461538
Cameroon,51,16,31.372549
Iceland,49,30,61.224490
Azerbaijan,49,17,34.693878
Afghanistan,44,8,18.181818
Republic of Moldova,43,7,16.279070
Sudan,42,16,38.095238
Uzbekistan,39,14,35.897436
Zimbabwe,39,14,35.897436
Republic of Korea,39,20,51.282051
Iraq,39,17,43.589744
Bolivia,36,11,30.555556
Côte d'Ivoire,34,11,32.352941
Panama,33,13,39.393939
United Republic of Tanzania,32,15,46.875000
Nicaragua,30,10,33.333333
Cambodia,30,9,30.000000
Cuba,30,16,53.333333
Syrian Arab Republic,29,7,24.137931
Jamaica,28,8,28.571429
Honduras,27,12,44.444444
Mauritius,26,8,30.769231
Senegal,21,8,38.095238
Kuwait,20,6,30.000000
Kyrgyzstan,19,6,31.578947
Trinidad and Tobago,19,5,26.315789
Yemen,19,3,15.789474
Bahrain,18,4,22.222222
Mongolia,17,8,47.058824
Montenegro,17,8,47.058824
Madagascar,15,4,26.666667
Somalia,13,3,23.076923
Qatar,13,5,38.461538
Maldives,13,6,46.153846
Rwanda,12,5,41.666667
Zambia,12,4,33.333333
Oman,11,6,54.545455
Libyan Arab Jamahiriya,10,2,20.000000
Antigua and Barbuda,9,0,0.000000
Swaziland,8,2,25.000000
Democratic Republic of the Congo,7,3,42.857143
Turkmenistan,7,6,85.714286
Mozambique,7,1,14.285714
Mauritania,7,5,71.428571
"Congo, Republic of the...",7,4,57.142857
Andorra,7,0,0.000000
Tajikistan,7,0,0.000000
Benin,5,3,60.000000
Fiji,5,1,20.000000
Angola,5,2,40.000000
Namibia,5,3,60.000000
Haiti,5,3,60.000000
Botswana,5,1,20.000000
Burkina Faso,4,0,0.000000
Monaco,4,2,50.000000
Togo,4,1,25.000000
Burundi,3,1,33.333333
Barbados,3,1,33.333333
Lesotho,3,1,33.333333
Lao People's Democratic Republic,3,0,0.000000
Democratic People's Republic of Korea,3,1,33.333333
Guyana,3,2,66.666667
Belize,3,1,33.333333
Guinea,3,2,66.666667
Mali,3,1,33.333333
Liechtenstein,3,1,33.333333
Bahamas,3,2,66.666667
Cape Verde,3,0,0.000000
Seychelles,2,1,50.000000
San Marino,2,1,50.000000
Sierra Leone,2,1,50.000000
Bhutan,2,1,50.000000
Liberia,2,0,0.000000
Gabon,2,0,0.000000
Djibouti,2,0,0.000000
Malawi,2,0,0.000000
Tonga,1,0,0.000000
North Korea,1,0,0.000000
Timor-Leste,1,1,100.000000
Sao Tome and Principe,1,1,100.000000
Papua New Guinea,1,0,0.000000
Chad,1,0,0.000000
Saint Kitts and Nevis,1,0,0.000000
Niger,1,1,100.000000
Brunei Darussalam,1,0,0.000000
Saint Vincent and the Grenadines,1,0,0.000000
Dominica,1,1,100.000000

In [40]:
python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython
Dominica,1,1,100.000000
Niger,1,1,100.000000
Sao Tome and Principe,1,1,100.000000
Timor-Leste,1,1,100.000000
Turkmenistan,7,6,85.714286
Mauritania,7,5,71.428571
Bahamas,3,2,66.666667
Guinea,3,2,66.666667
Guyana,3,2,66.666667
Uganda,72,47,65.277778
Iceland,49,30,61.224490
Namibia,5,3,60.000000
Benin,5,3,60.000000
Haiti,5,3,60.000000
"Congo, Republic of the...",7,4,57.142857
Oman,11,6,54.545455
Cuba,30,16,53.333333
Republic of Korea,39,20,51.282051
Monaco,4,2,50.000000
Seychelles,2,1,50.000000
San Marino,2,1,50.000000
Sierra Leone,2,1,50.000000
Bhutan,2,1,50.000000
South Korea,160,80,50.000000
Chile,206,102,49.514563
Finland,546,266,48.717949
Kenya,249,120,48.192771
United States,20949,10083,48.131176
Israel,952,457,48.004202
Ecuador,82,39,47.560976
Montenegro,17,8,47.058824
Taiwan,187,88,47.058824
Mongolia,17,8,47.058824
Switzerland,978,460,47.034765
United Republic of Tanzania,32,15,46.875000
Hong Kong (S.A.R.),188,88,46.808511
Japan,391,182,46.547315
Maldives,13,6,46.153846
Canada,3395,1558,45.891016
Singapore,303,139,45.874587
New Zealand,524,236,45.038168
China,664,297,44.728916
Honduras,27,12,44.444444
France,2391,1054,44.081974
Iraq,39,17,43.589744
Thailand,214,92,42.990654
Democratic Republic of the Congo,7,3,42.857143
Nepal,237,101,42.616034
Estonia,195,82,42.051282
Russian Federation,1694,708,41.794569
Germany,5866,2451,41.783157
Ireland,501,209,41.716567
Rwanda,12,5,41.666667
United Kingdom,5737,2384,41.554820
Australia,1903,790,41.513400
Netherlands,1852,767,41.414687
Luxembourg,61,25,40.983607
Belgium,727,296,40.715268
Greece,556,226,40.647482
Norway,574,232,40.418118
Austria,839,338,40.286055
Angola,5,2,40.000000
Spain,1604,641,39.962594
Slovenia,298,119,39.932886
Denmark,617,246,39.870340
Italy,1576,625,39.657360
Panama,33,13,39.393939
Brazil,1948,767,39.373717
Turkey,949,371,39.093783
Poland,1922,751,39.073881
Sweden,1274,496,38.932496
Slovakia,260,101,38.846154
Ethiopia,52,20,38.461538
Qatar,13,5,38.461538
Mexico,642,245,38.161994
Sudan,42,16,38.095238
Senegal,21,8,38.095238
Ghana,84,32,38.095238
Guatemala,67,25,37.313433
Czech Republic,764,285,37.303665
Hungary,513,191,37.231969
Sri Lanka,372,137,36.827957
Paraguay,52,19,36.538462
Iran,738,268,36.314363
Peru,130,47,36.153846
Uzbekistan,39,14,35.897436
Zimbabwe,39,14,35.897436
Costa Rica,84,30,35.714286
Lebanon,120,42,35.000000
Azerbaijan,49,17,34.693878
Portugal,525,182,34.666667
Argentina,553,191,34.538879
Colombia,313,108,34.504792
Egypt,323,111,34.365325
India,9061,3105,34.267741
Belarus,202,69,34.158416
Jordan,65,22,33.846154
Viet Nam,231,78,33.766234
Bangladesh,605,204,33.719008
Saudi Arabia,98,33,33.673469
Croatia,260,87,33.461538
Lesotho,3,1,33.333333
Barbados,3,1,33.333333
Mali,3,1,33.333333
Belize,3,1,33.333333
Liechtenstein,3,1,33.333333
Democratic People's Republic of Korea,3,1,33.333333
Burundi,3,1,33.333333
Zambia,12,4,33.333333
Nicaragua,30,10,33.333333
Romania,760,253,33.289474
Armenia,86,28,32.558140
Georgia,80,26,32.500000
Uruguay,111,36,32.432432
Côte d'Ivoire,34,11,32.352941
Morocco,155,50,32.258065
South Africa,627,202,32.216906
Lithuania,248,79,31.854839
"Venezuela, Bolivarian Republic of...",88,28,31.818182
Malaysia,299,95,31.772575
Kyrgyzstan,19,6,31.578947
Cameroon,51,16,31.372549
Cyprus,64,20,31.250000
United Arab Emirates,158,49,31.012658
Malta,65,20,30.769231
Tunisia,130,40,30.769231
Mauritius,26,8,30.769231
Philippines,381,117,30.708661
Bolivia,36,11,30.555556
Kuwait,20,6,30.000000
Cambodia,30,9,30.000000
Algeria,134,40,29.850746
Indonesia,507,148,29.191321
Nigeria,522,152,29.118774
Serbia,402,117,29.104478
Latvia,136,39,28.676471
Jamaica,28,8,28.571429
El Salvador,67,19,28.358209
Ukraine,868,246,28.341014
Bulgaria,659,181,27.465857
Other Country (Not Listed Above),136,37,27.205882
Pakistan,923,251,27.193933
Bosnia and Herzegovina,108,29,26.851852
Albania,86,23,26.744186
Madagascar,15,4,26.666667
Trinidad and Tobago,19,5,26.315789
Togo,4,1,25.000000
Swaziland,8,2,25.000000
Syrian Arab Republic,29,7,24.137931
Kazakhstan,64,15,23.437500
Somalia,13,3,23.076923
Bahrain,18,4,22.222222
Dominican Republic,97,21,21.649485
Libyan Arab Jamahiriya,10,2,20.000000
Botswana,5,1,20.000000
Fiji,5,1,20.000000
Afghanistan,44,8,18.181818
Myanmar,52,9,17.307692
Republic of Moldova,43,7,16.279070
Yemen,19,3,15.789474
The former Yugoslav Republic of Macedonia,54,8,14.814815
Mozambique,7,1,14.285714
Tajikistan,7,0,0.000000
Saint Vincent and the Grenadines,1,0,0.000000
Brunei Darussalam,1,0,0.000000
Saint Kitts and Nevis,1,0,0.000000
Chad,1,0,0.000000
Papua New Guinea,1,0,0.000000
Andorra,7,0,0.000000
Antigua and Barbuda,9,0,0.000000
North Korea,1,0,0.000000
Tonga,1,0,0.000000
Malawi,2,0,0.000000
Gabon,2,0,0.000000
Liberia,2,0,0.000000
Burkina Faso,4,0,0.000000
Cape Verde,3,0,0.000000
Lao People's Democratic Republic,3,0,0.000000
Djibouti,2,0,0.000000

In [41]:
python_df.loc['Netherlands']

NumRespondents    1852.000000
NumKnowsPython     767.000000
PctKnowsPython      41.414687
Name: Netherlands, dtype: float64

In [43]:
# 2.Method
ctr_knows_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python', na=False).value_counts(normalize=True))
ctr_knows_python.rename({False:'Don\'t know', True:'I know'}, inplace=True)
ctr_knows_python

Country
Afghanistan                                Don't know    0.818182
                                           I know        0.181818
Albania                                    Don't know    0.732558
                                           I know        0.267442
Algeria                                    Don't know    0.701493
                                           I know        0.298507
Andorra                                    Don't know    1.000000
Angola                                     Don't know    0.600000
                                           I know        0.400000
Antigua and Barbuda                        Don't know    1.000000
Argentina                                  Don't know    0.654611
                                           I know        0.345389
Armenia                                    Don't know    0.674419
                                           I know        0.325581
Australia                                  Don't know    0.584866
                                           I know        0.415134
Austria                                    Don't know    0.597139
                                           I know        0.402861
Azerbaijan                                 Don't know    0.653061
                                           I know        0.346939
Bahamas                                    I know        0.666667
                                           Don't know    0.333333
Bahrain                                    Don't know    0.777778
                                           I know        0.222222
Bangladesh                                 Don't know    0.662810
                                           I know        0.337190
Barbados                                   Don't know    0.666667
                                           I know        0.333333
Belarus                                    Don't know    0.658416
                                           I know        0.341584
Belgium                                    Don't know    0.592847
                                           I know        0.407153
Belize                                     Don't know    0.666667
                                           I know        0.333333
Benin                                      I know        0.600000
                                           Don't know    0.400000
Bhutan                                     I know        0.500000
                                           Don't know    0.500000
Bolivia                                    Don't know    0.694444
                                           I know        0.305556
Bosnia and Herzegovina                     Don't know    0.731481
                                           I know        0.268519
Botswana                                   Don't know    0.800000
                                           I know        0.200000
Brazil                                     Don't know    0.606263
                                           I know        0.393737
Brunei Darussalam                          Don't know    1.000000
Bulgaria                                   Don't know    0.725341
                                           I know        0.274659
Burkina Faso                               Don't know    1.000000
Burundi                                    Don't know    0.666667
                                           I know        0.333333
Cambodia                                   Don't know    0.700000
                                           I know        0.300000
Cameroon                                   Don't know    0.686275
                                           I know        0.313725
Canada                                     Don't know    0.541090
                                           I know        0.458910
Cape Verde                                 Don't know    1.000000
Chad                                       Don't know    1.000000
Chile                                      Don't know    0.504854
                                           I know        0.495146
China                                      Don't know    0.552711
                                           I know        0.447289
Colombia                                   Don't know    0.654952
                                           I know        0.345048
Congo, Republic of the...                  I know        0.571429
                                           Don't know    0.428571
Costa Rica                                 Don't know    0.642857
                                           I know        0.357143
Croatia                                    Don't know    0.665385
                                           I know        0.334615
Cuba                                       I know        0.533333
                                           Don't know    0.466667
Cyprus                                     Don't know    0.687500
                                           I know        0.312500
Czech Republic                             Don't know    0.626963
                                           I know        0.373037
Côte d'Ivoire                              Don't know    0.676471
                                           I know        0.323529
Democratic People's Republic of Korea      Don't know    0.666667
                                           I know        0.333333
Democratic Republic of the Congo           Don't know    0.571429
                                           I know        0.428571
Denmark                                    Don't know    0.601297
                                           I know        0.398703
Djibouti                                   Don't know    1.000000
Dominica                                   I know        1.000000
Dominican Republic                         Don't know    0.783505
                                           I know        0.216495
Ecuador                                    Don't know    0.524390
                                           I know        0.475610
Egypt                                      Don't know    0.656347
                                           I know        0.343653
El Salvador                                Don't know    0.716418
                                           I know        0.283582
Estonia                                    Don't know    0.579487
                                           I know        0.420513
Ethiopia                                   Don't know    0.615385
                                           I know        0.384615
Fiji                                       Don't know    0.800000
                                           I know        0.200000
Finland                                    Don't know    0.512821
                                           I know        0.487179
France                                     Don't know    0.559180
                                           I know        0.440820
Gabon                                      Don't know    1.000000
Georgia                                    Don't know    0.675000
                                           I know        0.325000
Germany                                    Don't know    0.582168
                                           I know        0.417832
Ghana                                      Don't know    0.619048
                                           I know        0.380952
Greece                                     Don't know    0.593525
                                           I know        0.406475
Guatemala                                  Don't know    0.626866
                                           I know        0.373134
Guinea                                     I know        0.666667
                                           Don't know    0.333333
Guyana                                     I know        0.666667
                                           Don't know    0.333333
Haiti                                      I know        0.600000
                                           Don't know    0.400000
Honduras                                   Don't know    0.555556
                                           I know        0.444444
Hong Kong (S.A.R.)                         Don't know    0.531915
                                           I know        0.468085
Hungary                                    Don't know    0.627680
                                           I know        0.372320
Iceland                                    I know        0.612245
                                           Don't know    0.387755
India                                      Don't know    0.657323
                                           I know        0.342677
Indonesia                                  Don't know    0.708087
                                           I know        0.291913
Iran                                       Don't know    0.636856
                                           I know        0.363144
Iraq                                       Don't know    0.564103
                                           I know        0.435897
Ireland                                    Don't know    0.582834
                                           I know        0.417166
Israel                                     Don't know    0.519958
                                           I know        0.480042
Italy                                      Don't know    0.603426
                                           I know        0.396574
Jamaica                                    Don't know    0.714286
                                           I know        0.285714
Japan                                      Don't know    0.534527
                                           I know        0.465473
Jordan                                     Don't know    0.661538
                                           I know        0.338462
Kazakhstan                                 Don't know    0.765625
                                           I know        0.234375
Kenya                                      Don't know    0.518072
                                           I know        0.481928
Kuwait                                     Don't know    0.700000
                                           I know        0.300000
Kyrgyzstan                                 Don't know    0.684211
                                           I know        0.315789
Lao People's Democratic Republic           Don't know    1.000000
Latvia                                     Don't know    0.713235
                                           I know        0.286765
Lebanon                                    Don't know    0.650000
                                           I know        0.350000
Lesotho                                    Don't know    0.666667
                                           I know        0.333333
Liberia                                    Don't know    1.000000
Libyan Arab Jamahiriya                     Don't know    0.800000
                                           I know        0.200000
Liechtenstein                              Don't know    0.666667
                                           I know        0.333333
Lithuania                                  Don't know    0.681452
                                           I know        0.318548
Luxembourg                                 Don't know    0.590164
                                           I know        0.409836
Madagascar                                 Don't know    0.733333
                                           I know        0.266667
Malawi                                     Don't know    1.000000
Malaysia                                   Don't know    0.682274
                                           I know        0.317726
Maldives                                   Don't know    0.538462
                                           I know        0.461538
Mali                                       Don't know    0.666667
                                           I know        0.333333
Malta                                      Don't know    0.692308
                                           I know        0.307692
Mauritania                                 I know        0.714286
                                           Don't know    0.285714
Mauritius                                  Don't know    0.692308
                                           I know        0.307692
Mexico                                     Don't know    0.618380
                                           I know        0.381620
Monaco                                     I know        0.500000
                                           Don't know    0.500000
Mongolia                                   Don't know    0.529412
                                           I know        0.470588
Montenegro                                 Don't know    0.529412
                                           I know        0.470588
Morocco                                    Don't know    0.677419
                                           I know        0.322581
Mozambique                                 Don't know    0.857143
                                           I know        0.142857
Myanmar                                    Don't know    0.826923
                                           I know        0.173077
Namibia                                    I know        0.600000
                                           Don't know    0.400000
Nepal                                      Don't know    0.573840
                                           I know        0.426160
Netherlands                                Don't know    0.585853
                                           I know        0.414147
New Zealand                                Don't know    0.549618
                                           I know        0.450382
Nicaragua                                  Don't know    0.666667
                                           I know        0.333333
Niger                                      I know        1.000000
Nigeria                                    Don't know    0.708812
                                           I know        0.291188
North Korea                                Don't know    1.000000
Norway                                     Don't know    0.595819
                                           I know        0.404181
Oman                                       I know        0.545455
                                           Don't know    0.454545
Other Country (Not Listed Above)           Don't know    0.727941
                                           I know        0.272059
Pakistan                                   Don't know    0.728061
                                           I know        0.271939
Panama                                     Don't know    0.606061
                                           I know        0.393939
Papua New Guinea                           Don't know    1.000000
Paraguay                                   Don't know    0.634615
                                           I know        0.365385
Peru                                       Don't know    0.638462
                                           I know        0.361538
Philippines                                Don't know    0.692913
                                           I know        0.307087
Poland                                     Don't know    0.609261
                                           I know        0.390739
Portugal                                   Don't know    0.653333
                                           I know        0.346667
Qatar                                      Don't know    0.615385
                                           I know        0.384615
Republic of Korea                          I know        0.512821
                                           Don't know    0.487179
Republic of Moldova                        Don't know    0.837209
                                           I know        0.162791
Romania                                    Don't know    0.667105
                                           I know        0.332895
Russian Federation                         Don't know    0.582054
                                           I know        0.417946
Rwanda                                     Don't know    0.583333
                                           I know        0.416667
Saint Kitts and Nevis                      Don't know    1.000000
Saint Vincent and the Grenadines           Don't know    1.000000
San Marino                                 I know        0.500000
                                           Don't know    0.500000
Sao Tome and Principe                      I know        1.000000
Saudi Arabia                               Don't know    0.663265
                                           I know        0.336735
Senegal                                    Don't know    0.619048
                                           I know        0.380952
Serbia                                     Don't know    0.708955
                                           I know        0.291045
Seychelles                                 I know        0.500000
                                           Don't know    0.500000
Sierra Leone                               I know        0.500000
                                           Don't know    0.500000
Singapore                                  Don't know    0.541254
                                           I know        0.458746
Slovakia                                   Don't know    0.611538
                                           I know        0.388462
Slovenia                                   Don't know    0.600671
                                           I know        0.399329
Somalia                                    Don't know    0.769231
                                           I know        0.230769
South Africa                               Don't know    0.677831
                                           I know        0.322169
South Korea                                I know        0.500000
                                           Don't know    0.500000
Spain                                      Don't know    0.600374
                                           I know        0.399626
Sri Lanka                                  Don't know    0.631720
                                           I know        0.368280
Sudan                                      Don't know    0.619048
                                           I know        0.380952
Swaziland                                  Don't know    0.750000
                                           I know        0.250000
Sweden                                     Don't know    0.610675
                                           I know        0.389325
Switzerland                                Don't know    0.529652
                                           I know        0.470348
Syrian Arab Republic                       Don't know    0.758621
                                           I know        0.241379
Taiwan                                     Don't know    0.529412
                                           I know        0.470588
Tajikistan                                 Don't know    1.000000
Thailand                                   Don't know    0.570093
                                           I know        0.429907
The former Yugoslav Republic of Macedonia  Don't know    0.851852
                                           I know        0.148148
Timor-Leste                                I know        1.000000
Togo                                       Don't know    0.750000
                                           I know        0.250000

## Upload to PostgreSQL

In [42]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:password@this_postgres')
name = 'winequality'
df.to_sql(name, engine, if_exists='replace')

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

OperationalError: ignored

## Kill postgres processes

If some of your queries to pg stuck -- go to [kill-pg-processes.ipyng](./kill-pg-processes.ipynb) and kill all processes (or only particular ones)

## Select from PostgreSQL  
I repeat some imports and variables here because I usually copy this cell to the beging of a new project

In [ ]:
import psycopg2 as pg2
import pandas as pd

con = pg2.connect(host='this_postgres',
                  user='postgres',
                  password='password',
                  database='postgres')
con.autocommit = True
cur = con.cursor()

def select(sql):
    return pd.read_sql(sql,con)

In [ ]:
sql = '''select t.* from winequality t order by t.alcohol desc'''

In [ ]:
df = select(sql)

In [ ]:
df.head()

Your data will be stored in PostgreSQL volume. Even if your delete containers and then recreate them, all data will be in place.

## Calendar table

https://medium.com/@duffn/creating-a-date-dimension-table-in-postgresql-af3f8e2941ac

There is a table with all possible dates. Use it to create periodical reports, e.g. monthly report.

In [ ]:
sql = '''select * from d_date t limit 10'''

In [ ]:
select(sql)

## How to create new tables  
Make sure you ran "con.autocommit = True" before creating cursor otherwise you have to commit table creation

In [ ]:
con.autocommit = True
cur = con.cursor()

In [ ]:
sql = '''
drop table if exists hello_table;
create table hello_table as 
select 'hello!!!!' as col
'''

In [ ]:
cur.execute(sql)

In [ ]:
sql = '''select * from hello_table t'''

In [ ]:
select(sql)